<label *ngIf="label" kf-text>{{ label }}</label>
<div [ngSwitch]="type">
    <!-- When type = textarea -->
    <div *ngSwitchCase="'textarea'">
      <!-- When modelChangesOnEveryKeystroke = true -->
      <textarea
        #textarea
        kf-text
        *ngIf="modelChangesOnEveryKeystroke"
        [style.resize]="resize"
        [(ngModel)]="value"
        (blur)="onBlur()"
        [maxlength]="maxlength"
        [disabled]="disabled"
        [placeholder]="placeholder || ''"
        [ngClass]="getStyle()"
        [rows]="rows"
      ></textarea>

      <!-- When modelChangesOnEveryKeystroke = false -->
      <textarea
        #textarea
        kf-text
        *ngIf="!modelChangesOnEveryKeystroke"
        [style.resize]="resize"
        [ngModel]="value"
        (blur)="onBlur($event)"
        [maxlength]="maxlength"
        [disabled]="disabled"
        [placeholder]="placeholder || ''"
        [ngClass]="getStyle()"
        [rows]="rows"
      ></textarea>
    </div>

    <!-- When type = date -->
    <input
      #input
      kf-text
      class="date-input"
      *ngSwitchCase="'date'"
      [disabled]="disabled"
      [placeholder]="placeholder || ''"
      type="text"
      [ngModel]="displayDate"
      (blur)="onBlur()"
      (focus)="onFocus()"
      [maxlength]="maxlength"
      [readonly]="true"
    />

    <!-- When type = any-other -->
    <div *ngSwitchDefault>
      <!-- When modelChangesOnEveryKeystroke = true -->
      <input
        #input
        kf-text
        *ngIf="modelChangesOnEveryKeystroke"
        [disabled]="disabled"
        [placeholder]="placeholder || ''"
        [type]="type"
        [(ngModel)]="value"
        [ngClass]="getStyle()"
        (blur)="onBlur()"
        (focus)="onFocus()"
        [maxlength]="maxlength"
      />
      
      <!-- When modelChangesOnEveryKeystroke = false -->
      <input
        #input
        type="text"
        *ngIf="!modelChangesOnEveryKeystroke"
        [disabled]="disabled"
        [placeholder]="placeholder || ''"
        [value]="value"
        [ngClass]="getStyle()"
        (blur)="onBlur($event)"
        (focus)="onFocus()"
      >
    </div>
</div>

<kf-icon icon="date-picker" color="primary" *ngIf="type === 'date'"></kf-icon>
<kf-icon icon="search" color="primary" *ngIf="type === 'search'"></kf-icon>
<kf-icon icon="danger" color="danger" *ngIf="errorKeys"></kf-icon>
<kf-error type="inline" *ngIf="displayError && errors && touched" [errors]="errors"></kf-error>

<kf-calendar
  class="calendar"
  *ngIf="type === 'date' && showCalendar"
  [(date)]="selectedDate"
  [locale]="locale"
  (clearClick)="clearDate()"
  (applyClick)="applyDate($event)"
  [canSelectDate]="canSelectDate"
></kf-calendar>
